.meeting {
  background-image: url(../../assets/images/Rectangle\ 33.png);
  background-repeat: no-repeat;
  height: 573px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.bookWrap {
  display: flex;
  align-items: center;
  height: 573px;
}
.booking {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 94px;
}

.backgroundBook {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.781);
}
.leftBook {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.texts h2 {
  color: var(--secondary, #159eec);
  font-family: Yeseva One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texts p {
  color: var(--black, #212124);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.rightBook {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.horizontal {
  display: flex;
  gap: 1px;
}
/* .threeHorizontal{
  display: flex;
  gap: 1px;
} */
.demographics {
  display: flex;
  flex-direction: column;
  column-gap: 1px;
}
input {
  color: var(--white, #fcfefe);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
input::placeholder {
  color: var(--white, #fcfefe);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
select {
  color: var(--white, #fcfefe);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

select option {
  border-radius: 5px;
  width: 100%;
  background: var(--accent, #bfd2f8);
  color: var(--black, #212124);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.nameMail {
  display: flex;
  gap: 1px;
}
.nameMail .div {
  border: none;
  outline: none;
  width: 243px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px 0px 0px 0px;
  background: var(--primary, #1f2b6c);
  padding: 14px 20px;
}
.common {
  border-bottom: 1px solid var(--accent, #bfd2f8);
}
#turn input {
  flex-shrink: 0;
  background: var(--primary, #1f2b6c);
  padding: 14px 20px;
  height: 50px;
  width: 161px;
}
#turns input {
  flex-shrink: 0;
  background: var(--primary, #1f2b6c);
  padding: 14px 20px;
  height: 50px;
  width: 162px;
}

.nameMail div select {
  width: 100%;
  outline: none;
  border: none;
  background: var(--primary, #1f2b6c);
}
#email {
  border-radius: 0px 5px 0px 0px;
  width: 242px;
}
#doctor {
  padding: 14px 20px;
  background: var(--primary, #1f2b6c);
  width: 100%;
  border-top: 1px solid var(--accent, #bfd2f8);
  border-bottom: 1px solid var(--accent, #bfd2f8);
  border-radius: 0px;
}
#doctor select {
  width: 100%;
  border: none;
  outline: none;
  background: var(--primary, #1f2b6c);
}
.message {
  padding: 14px 20px;
  width: 486px;
  height: 235px;
  flex-shrink: 0;
  background: var(--primary, #1f2b6c);
}

.message input {
  outline: none;
  border: none;
  background: var(--primary, #1f2b6c);
}
.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 486px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 0px 0px 5px 5px;
  background: var(--accent, #bfd2f8);
}
.submitButton button {
  border: none;
  background-color: transparent;
  color: var(--primary, #1f2b6c);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
